<div class="page-center">

  <h2><%= @user.username %></h2>

  <h4>Shared Tags</h4>
  <% @user.tags.where( share: true ).each do |tag| %>
    <p><%= link_to tag.name, share_tag_path(tag.user, tag) %></p>
  <% end %>


</div>
