<div class="review">

  <h3>Review</h3>

  <div class='form '>
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#all">All Cards</a></dd>
      <dd><a href="#tags">By Tags</a></dd>
    </dl>

    <div class="tabs-content">
      <div class="content active" id="all">
        <div class='panel options-div'>
          <input class='amount' type='field' placeholder='Amount'><br>
          <input id='begin1' type='button' value="Begin">
        </div>
      </div>

      <div class="content" id="tags">
        <div class='panel options-div'>
          <select multiple class="tags">
            <% current_user.tags.each do |tag| %>
              <option value="<%= tag.id %>"><%= tag.name %></option>
            <% end %>
          </select>
          <input class='amount' type='field' placeholder='Amount'><br>
          <input id='begin2' type='button' value="Begin">
        </div>
      </div>
    </div>
  </div>


  <div class='card hidden'>
    <div class='panel card-display'>
      <p id="front"></p>
      <hr id='divide'>
      <p id="back"></p>
    </div>
    <input class='show-back' type='button' name="showback" value="Show Back">
    <input class='next hidden' type='button' value="Next">
  </div>
</div>
