<div class="page-center">

  <h3>Review</h3>

  <div class='form '>
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#all">All Cards</a></dd>
      <dd><a href="#tags">By Tags</a></dd>
    </dl>

    <div class="tabs-content">
      <div class="content active" id="all">
        <div class='panel options-div'>
        TODO: Review List Form
        </div>
      </div>

      <div class="content" id="tags">
        <div class='panel options-div'>
        TODO: Review List Form
        </div>
      </div>
    </div>
  </div>
</div>
