<div class='header-wrap'>
  <div class='header-text'>
    Flash
  </div>

  <div class='header-log-in'>
  <%= form_for(:user, :url => session_path(:user))  do |f| %>
    <div>
      <%= f.text_field :username, :autofocus => true, :placeholder => "Username/Email" %>
    </div>
    <div>
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>


    <div><%= f.submit "Sign in" %></div>
  <% end %>
  </div>
</div>

<div class='welcome-content'>

  <div class="row">
    <div class="large-4 columns">
      <i class="fa fa-plus-square-o fa-3x"></i>
      <h4>Create</h4>
      <p>Make your own flash cards and tags to organize the information you want to study the way that fits you best</p>
    </div>
    <div class="large-4 columns">
      <i class="fa fa-files-o fa-3x"></i>
      <h4>Share</h4>
      <p>Find card sets other users have shared and add them to your collection, or share your own cards with others</p>
    </div>
    <div class="large-4 columns">
      <i class="fa fa-repeat fa-3x"></i>
      <h4>Review</h4>
      <p>Choose how you want to review your cards so you can ensure you get the most out of every study session</p>
    </div>
  </div>

</div>
