<div class="page-center page-down">
  <div class='flip-container'>
    <div class='creation'>
      <div class='front'>
        <div class='cont panel'>
          <%= simple_format(@card.front) %>
        </div>
        <a href='' class='flip-trigger'>Answer</a>
      </div>

      <div class='back'>
        <div class='cont panel'>
          <%= simple_format(@card.back) %>
        </div>
        <%= link_to "Complete", review_list_path(@review_list, repeat: 'false') %>
        <%= link_to "Repeat", review_list_path(@review_list, repeat: 'true') %> <br />
      </div>
    </div>
  </div>
</div>
