<p><div class="row">
  <div class="small-2 columns side">

    <ul class="side-nav">
      <li><%= link_to "New Tag", '/tags' %></li>

      <div class='scroll'>
      <% @tags.each do |tag| %>
        <li><%= link_to tag.name, tags_tag_path(tag.id) %></li>
      <% end %>
      </div>
    </ul>

  </div>

  <div class="small-10 columns main">

    <div class='main'>
      <% tag = params[:tag_id].nil? ? Tag.new : Tag.find(params[:tag_id]) %>
      <%= render 'tags/form', tag: tag %>
    </div>

  </div>
</div></p>
