<p><div class="row">
  <div class="small-2 columns side">

    <ul class="side-nav">
      <li><%= link_to "New Card", '/cards' %></li>

      <div class='scroll'>
        <% @cards.each do |card| %>
          <li><%= link_to card.front, cards_card_path(card.id) %></li>
        <% end %>
      </div>
    </ul>

  </div>

  <div class="small-10 columns main">

    <div class='main'>
      <% card = params[:card_id].nil? ? Card.new : Card.find(params[:card_id]) %>
      <%= render 'cards/form', card: card %>
    </div>

  </div>
</div></p>
