/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

.main {
  left: -20px !important;
  width: 750px !important;
}

.scroll {
  overflow: auto;
  padding-left: 10px;
  height: 600px;
  width: 200px;
}

.side {
  top: -20px;
}

.alert-box {
  width: 100% !important;
  position: absolute !important;
  z-index: 4999 !important;
}

.dropdown {
  z-index: 5000 !important;
}

.page-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

.page-down {
  margin-top: 50px;
}

.options-div {
  position: relative;
  top: -15px;
  min-height: 300px;
  min-width: 550px;
}

.card-list-divider {
  margin-top: 0;
  width:200px;
}

.card-filter {
  height: 35px;
  width: 150px;
}

/* Flip Animation */
.flip-container {
  -webkit-perspective:1200;
  -moz-perspective:1200;
  perspective:1200;
}
.flip-container.flip-container--flipped .creation {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}
.creation {
  width:550px;
  height:256px;
  float:left;
  -webkit-transition:all 0.6s;
  -moz-transition:all 0.6s;
  transition:all 0.6s;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  transform-style:preserve-3d;
}
.front, .back {
  position:absolute;
  top:0;
  left:0;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden;
}
.back {
  z-index:800;
  -webkit-transform:rotateY(-180deg);
  -moz-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}
.creation p {
  color:#666;
  display:block;
  width:auto;
  text-align:center;
  line-height:240px;
  margin:0 30px;
  font-size:22px;
  text-transform:uppercase;
  text-shadow:1px 1px 1px #999;
  font-family:sans-serif;
}

.cont {
  text-align: center;
  background-color:#ddd;
  width:550px;
  height:240px;
  display:inline-block;
  border:8px solid #1abc9c;
}
