/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require easy_flip
 *= require font-awesome
 *= require pickadate/default
 *= require pickadate/default.date
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none
}

.stats {
  text-align: center;
}

/*--------
Flash alerts
--------*/
.alert-box {
  width: 100%;
  position: absolute;
  z-index: 4000;
}

/*--------
Card content when reviewing
--------*/
@media screen and (max-width:550px) {
  .creation, .cont {
    width: 300px;
    float: none !important;
    margin: 0 auto;
  }
}

.cont {
  word-break:break-all;
  overflow-y: auto;
}

.cont img {
  max-height: 300px !important;
  max-width: 300px !important;
}

.recall-1 a {
  color: red;
}

.recall-2 a {
  color: #FF3300;
}

.recall-3 a {
  color: yellow;
}

.recall-4 a {
  color: #99ff00;
}

.recall-5 a {
  color: green;
}

.srs-card-options {
  text-align: center;
  font-size: 115%;
}

.card-again {
  text-align: right;
}

/*--------
Navbar
--------*/

.top-bar {
  box-shadow: 1px 1px 1px 1px #888888;
}

.top-bar ul.title-area li.name h1 a{
  font-family: 'Emblema One', cursive;
}

.dropdown {
  z-index: 5000;
}

/*--------
Home page for logged in users
--------*/
.review-lists, .home-side-bar-left, .home-side-bar-right {
  text-align: center;
}

.review-lists {
  margin-left: auto;
  margin-right: auto;
}

.review-lists table {
  width: 100%;
}

.home-side-bar-left table, .home-side-bar-right table {
  width: 100%;
}

.home-page-bars-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  padding-top: 50px;
  margin: 0 auto -90px;
}

/*--------
  Welcome page for new users
--------*/
@media screen and (max-width:1000px) {
  .header-wrap {
    max-height: 375px;
  }
}
.header-wrap {
  background: url('https://s3-us-west-2.amazonaws.com/flash-app/header-img.jpg') no-repeat top center;
  height: 500px;
  margin-bottom: 75px;
}

.header-log-in, .header-text {
  opacity: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.header-log-in {
  max-width: 20%;
  min-width: 200px;
}

.header-text {
  padding-top: 10%;
  font-size: 300%;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-family: 'Emblema One', cursive;
  text-shadow: 2px 2px #000000;
}

.welcome-content {
  text-align: center;
}

/*--------
Sidebar on tag and card index pages
--------*/
.side {
  position: relative;
  float: left;
}

@media screen and (max-width:550px) {
  .side-nav-tags {
    max-height: 180px !important;
  }
}

.side-nav-tags {
  overflow-y: auto;
  max-height: 450px;
  li {
    overflow: hidden;
    position: relative;
    padding-left: 30px;
  }

  .tag-delete {
    position: absolute;
    left: 0;
    text-shadow: 1px 1px black, 1px 1px #444;
  }

  .tag-delete:active {
    a {
      color: red;
    }
    text-shadow: -1px -1px black, -1px -1px #444;
  }
}

/*--------
Form
--------*/
.options-div {
  position: relative;
  top: -15px;
}

/*--------
Card list on card index page
--------*/
.card-list-divider {
  margin-top: 0;
  width: auto;
}

.card-filter {
  height: 35px;
  width: 150px;
}

/*--------
Move page container
--------*/
.page-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  margin-top: 25px;
}

.page-down {
  margin-top: 50px;
}

/*--------
Share page
--------*/
.created-by {
  float: right;
}

.card-count {
  float: left;
}
